 <a href="/movies">Go back</a>
<div><img src='{{movies.image}}'></div>

<div><p>{{movies.title}}</p>
<p>Directed by: {{movies.director}}</p><br>
<p>Stars: {{movies.stars}}</p>
<p>Plot: {{movies.description}}</p>
</div>

